ALLOWED_ORIGIN=http://localhost:5173
RULES_API_URL=https://rules.region.run.app/v1/rules
FEEDS_STORE_API_URL=https://feed-store.region.run.app/v1/feeds
AUDIO_SEGMENTS_API_URL=https://audio.region.run.app/v1/audio_segments
API_PUBLIC_URL=http://localhost:5173
GOOGLE_AUTH_CLIENT_ID=id12345.apps.googleusercontent.com
GOOGLE_AUTH_CLIENT_SECRET=GOCSPX-secret
