google-genai
google-cloud-storage
google-cloud-speech
git+https://github.com/huggingface/transformers.git
huggingface_hub
python-dotenv
loguru
jiwer
num2words
nemo_text_processing
mistral-common
accelerate
ipywidgets
torchaudio==2.4.0
torchcodec==0.1.0