google-genai
google-cloud-storage
google-cloud-speech
git+https://github.com/huggingface/transformers.git # Needed for Cohere ASR support (not in stable release yet)
huggingface_hub
pydub
python-dotenv
loguru
jiwer
num2words
nemo_text_processing
mistral-common
accelerate