google-genai
google-cloud-storage
google-cloud-speech
transformers
huggingface_hub
python-dotenv
loguru
jiwer
num2words
nemo_text_processing
mistral-common
accelerate
ipywidgets
soundfile
jupyterlab-vim
peft
evaluate
tensorboardX
matplotlib
seaborn
scipy